<p id="notice"><%= notice %></p>

<h1>Bedrooms</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Quantity</th>
      <th>Room type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bedrooms.each do |bedroom| %>
      <tr>
        <td><%= bedroom.status %></td>
        <td><%= bedroom.quantity %></td>
        <td><%= bedroom.room_type_id %></td>
        <td><%= link_to 'Show', bedroom %></td>
        <td><%= link_to 'Edit', edit_bedroom_path(bedroom) %></td>
        <td><%= link_to 'Destroy', bedroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bedroom', new_bedroom_path %>
